// Variables

// Gray and Brand Colors for use across theme

$theme-primary: #63C3D1;
$theme-secondary: #F9C22E;
$theme-danger: #E01A4F;

$gray-base: #000 !default;
$gray-darker: #16242F !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;
