<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" data-i18n="[html]cause.title"></h2>
        <h3 class="section-subheading text-muted" data-i18n="cause.subtitle"></h3>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="img/talent.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4 data-i18n="cause.item_1.title"></h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="img/education.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4 data-i18n="cause.item_2.title"></h4>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="img/logos/becode.png" alt="">
        </a>
        <div class="portfolio-caption">
          <h4 data-i18n="cause.item_3.title"></h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 data-i18n="cause.item_1.subtitle"></h2>
              <img class="img-fluid d-block mx-auto img-modal" src="img/talent.png" alt="">
              <p data-i18n="cause.item_1.description"></p>
              <button class="btn btn-primary" data-dismiss="modal" type="button" data-i18n="[html]cause.close">
                <i class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 data-i18n="cause.item_2.subtitle"></h2>
                <img class="img-fluid d-block mx-auto img-modal" src="img/education.png" alt="">
                <p data-i18n="cause.item_2.description"></p>
                <button class="btn btn-primary" data-dismiss="modal" type="button" data-i18n="[html]cause.close">
                  <i class="fa fa-times"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 data-i18n="cause.item_3.subtitle"></h2>
                  <img class="img-fluid d-block mx-auto img-modal" src="img/logos/becode.png" alt="">
                  <p data-i18n="cause.item_3.description"></p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button" data-i18n="[html]cause.close">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
