<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">60km for BeCode</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#discover" data-i18n="nav.discover"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio" data-i18n="nav.be_code"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#challenge" data-i18n="nav.challenge"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#support" data-i18n="nav.support"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#team" data-i18n="nav.team"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#blog" data-i18n="nav.blog"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#faq" data-i18n="nav.faq"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact" data-i18n="nav.contact"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
