<!-- Services -->
<section id="support" style="padding-top: 30px; margin-top: 0px; padding-bottom: 40px;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <button class="btn btn-xl">Share the word</button>
        <p class="text-muted" style="padding-right: 20px; padding-left: 20px; padding-top: 30px;">The primary goal of this challenge is to spread the word on the existence of BeCode, so that more and more students can join and benefit from free tech education. Maybe your share will motivate someone to join!</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-xl-secondary">Donate</button>
        <p class="text-muted" style="padding-right: 20px; padding-left: 20px; padding-top: 30px;">Dive deep into an exciting new technology and perform your first crypto-currency transfer to the smart contract. What better recipient than a tech non-profit for this?</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-xl">Run with Thomas</button>
        <p class="text-muted" style="padding-right: 20px; padding-left: 20px; padding-top: 30px;">60km is a long way to go, and happiness is best when it is shared. So, hop in your running shoes and join Thomas along the path to discover Brussels' best green areas. 1km, 5km, 10km...pick your game!</p>
      </div>
    </div>
  </div>
</section>
